@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'LabilVar';
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/LabilGrotesk-Variable.woff2') format('woff2');
}
@font-face {
  font-family: 'Labil';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-named-instance: 'Regular';
  src: url('/fonts/LabilGrotesk-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Labil';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-named-instance: 'Regular';
  src: url('/fonts/LabilGrotesk-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Rando';
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Rando-Regular.woff') format('woff');
}
@font-face {
  font-family: 'RandoDisplay';
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/RandoDisplay-Medium.woff') format('woff');
}

@font-face {
  font-family: 'GT-America';
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  font-named-instance: 'Regular';
  src: url('/fonts/GT-America-Standard-Thin.woff') format('woff');
}
@font-face {
  font-family: 'GT-America';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  font-named-instance: 'Regular';
  src: url('/fonts/GT-America-Standard-Light (1).woff') format('woff');
}
@font-face {
  font-family: 'GT-America';
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  font-named-instance: 'Regular';
  src: url('/fonts/GT-America-Standard-Light-Italic.woff') format('woff');
}
@font-face {
  font-family: 'GT-America';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-named-instance: 'Regular';
  src: url('/fonts/GT-America-Standard-Regular (1).woff') format('woff');
}
@font-face {
  font-family: 'GT-America';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-named-instance: 'Regular';
  src: url('/fonts/GT-America-Standard-Medium (1).woff') format('woff');
}
@font-face {
  font-family: 'GT-America';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-named-instance: 'Regular';
  src: url('/fonts/GT-America-Standard-Bold.woff') format('woff');
}
@font-face {
  font-family: 'TT-Ramillas';
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/TT-Ramillas-ExtraLight (1).woff') format('woff');
}
@font-face {
  font-family: 'TT-Ramillas';
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Regular';
  src: url('/fonts/TT-Ramillas-ExtraLight-Italic.woff') format('woff');
}



@font-face {
  font-family: 'Lausanne';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-named-instance: 'Regular';
  src: url('/fonts/lausanne-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Lausanne';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  font-named-instance: 'Regular';
  src: url('/fonts/lausanne-300italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Lausanne';
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  font-named-instance: 'Regular';
  src: url('/fonts/lausanne-500.woff2') format('woff2');
}


@font-face {
  font-family: 'BW';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-named-instance: 'Regular';
  src: url('/fonts/BWHaasGrotesk-55Roman-Web-5cf5733cd9.woff2') format('woff2');
}
@font-face {
  font-family: 'BW';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-named-instance: 'Regular';
  src: url('/fonts/BWHaasGrotesk-65Medium-Web-8f5de0c368.woff2') format('woff2');
}
@font-face {
  font-family: 'BW';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-named-instance: 'Regular';
  src: url('/fonts/BWHaasGrotesk-75Bold-Web-de8c77cce2.woff2') format('woff2');
}
@font-face {
  font-family: 'BW';
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  font-named-instance: 'Regular';
  src: url('/fonts/BWHaasGrotesk-95Black-Web-3629d1569b.woff2') format('woff2');
}
@font-face {
  font-family: 'Publico';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-named-instance: 'Regular';
  src: url('/fonts/PublicoText-Bold-Web-3c5266a48e.woff2') format('woff2');
}
@font-face {
  font-family: 'Publico';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-named-instance: 'Regular';
  src: url('/fonts/PublicoText-Roman-Web-bfa063ee27.woff2') format('woff2');
}
@font-face {
  font-family: 'Publico';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  font-named-instance: 'Regular';
  src: url('/fonts/PublicoText-Italic-Web-b04a2274cf.woff2') format('woff2');
}

@font-face {
  font-family: 'HeldaneDisplay';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-named-instance: 'Regular';
  src: url('/fonts/HeldaneDisplayWeb-Regular.woff') format('woff');
}
@font-face {
  font-family: 'HeldaneText';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-named-instance: 'Regular';
  src: url('/fonts/HeldaneTextWeb-Regular.woff') format('woff');
}
@font-face {
  font-family: 'HeldaneText';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/HeldaneTextWeb-RegularItalic.woff') format('woff');
}
@font-face {
  font-family: 'FoundersText';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-named-instance: 'Regular';
  src: url('/fonts/FoundersGroteskTextWeb-Medium.woff') format('woff');
}
@font-face {
  font-family: 'FoundersMono';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-named-instance: 'Regular';
  src: url('/fonts/FoundersGroteskMonoWeb-Regular.woff') format('woff');
}
@font-face {
  font-family: 'FoundersMono';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-named-instance: 'Regular';
  src: url('/fonts/FoundersGroteskMonoWeb-Bold.woff') format('woff');
}
@font-face {
  font-family: 'FoundersCond';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-named-instance: 'Regular';
  src: url('/fonts/FoundersGroteskCondensedWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Suisse-Regular';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-named-instance: 'Regular';
  src: url('/fonts/SuisseIntl-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Suisse-Cond';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-named-instance: 'Regular';
  src: url('/fonts/SuisseIntlCond-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Suisse-Cond';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-named-instance: 'Regular';
  src: url('/fonts/SuisseIntlCond-Semibold.woff2') format('woff2');
}
@font-face {
  font-family: 'Suisse-Mono';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-named-instance: 'Regular';
  src: url('/fonts/SuisseIntlMono-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Suisse-Works';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-named-instance: 'Regular';
  src: url('/fonts/SuisseWorks-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'GT-Super';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/GT-Super-Text-Book.woff') format('woff');
}
@font-face {
  font-family: 'GT-Super';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Regular';
  src: url('/fonts/GT-Super-Text-Book-Italic.woff') format('woff');
}
@font-face {
  font-family: 'GT-Super';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/GT-Super-Text-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Bradford';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/BradfordLLWeb-Regular (1).woff2') format('woff2');
}

@font-face {
  font-family: 'Bradford';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Regular';
  src: url('/fonts/BradfordLLWeb-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Bradford';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/BradfordLLWeb-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Bradford';
  font-weight: 500;
  font-display: swap;
  font-style: italic;
  src: url('/fonts/BradfordLLWeb-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Bradford';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/BradfordLLWeb-Bold (1).woff2') format('woff2');
}

@font-face {
  font-family: 'Bradford';
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/BradfordLLWeb-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'GT-America';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/GT-America-Standard-Regular (1).woff2') format('woff2');
}
@font-face {
  font-family: 'GT-America';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/GT-America-Standard-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'GT-America';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/GT-America-Standard-Bold (1).woff2') format('woff2');
}
@font-face {
  font-family: 'GT-America';
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/GT-America-Standard-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'NB';
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/NB-International-LightWeb.woff') format('woff');
}
@font-face {
  font-family: 'NB';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/NB-International-RegularWeb.woff') format('woff');
}
@font-face {
  font-family: 'NH';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/NeueHaasGrotDisp-55Roman-Web.woff') format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/IBMPlexSansVar-Roman.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/IBMPlexSansVar-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/SourceSerif.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/SourceSerif-Italic.var.woff2') format('woff2');
}

html {
  --scrollbarBG: #ffffff00;
  --thumbBG: #b8b8b8;
}
body::-webkit-scrollbar {
  width: 5px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  font-family: 'Lausanne';
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}

::selection {
  background: rgba(45, 170, 219, 0.3);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: -1px;
  backdrop-filter: blur(5px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  border-bottom-color: transparent;
}

.remove-sticky {
  position: unset;
}

.sticky-nav-full {
  @apply border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50;
}

.header-name {
  display: none;
  opacity: 0;
  overflow: hidden;
}

.sticky-nav-full .nav {
  @apply text-gray-600 dark:text-gray-300;
}

nav {
  flex-wrap: wrap;
  line-height: 1.5em;
}

.article-tags::-webkit-scrollbar {
  width: 0 !important;
}

.tag-container ul::-webkit-scrollbar {
  width: 0 !important;
}

.tag-container ul {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .sticky-nav-full {
    @apply max-w-full border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50;
  }
  .header-name {
    display: block;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  }
  .sticky-nav-full .header-name {
    opacity: 1;
    @apply dark:text-gray-300 text-gray-600;
  }
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-day bg-opacity-90 dark:bg-night dark:bg-opacity-90;
  }
}

.regular {
  font-variation-settings: "wght" 30, "stbl" 100;
}

.regular:hover {
  font-variation-settings: "wght" 30, "stbl" 50;
}
